{% load static %}
<div class="wrapper">
    <div class="header">
        <div class="container">
        <div class="row">
            <div class="col-md-2 col-sm-2">
                <div class="logo"><a href="/"><img src="{% static 'home/images/logo.png' %}" alt="FlatShop"></a></div>
            </div>
            <div class="col-md-10 col-sm-10">
                <div class="header_top">
                    <div class="row">
                    <div class="col-md-3">
                        <ul class="option_nav">
                            <li class="dorpdown">
                                <a href="#">Eng</a>
                                <ul class="subnav">
                                <li><a href="#">Eng</a></li>
                                <li><a href="#">Vns</a></li>
                                <li><a href="#">Fer</a></li>
                                <li><a href="#">Gem</a></li>
                                </ul>
                            </li>
                            <li class="dorpdown">
                                <a href="#">USD</a>
                                <ul class="subnav">
                                <li><a href="#">USD</a></li>
                                <li><a href="#">UKD</a></li>
                                <li><a href="#">FER</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-6">
                        <ul class="topmenu">
                            <li><a href="#">About Us</a></li>
                            <li><a href="#">News</a></li>
                            <li><a href="#">Service</a></li>
                            <li><a href="#">Recruiment</a></li>
                            <li><a href="#">Media</a></li>
                            <li><a href="#">Support</a></li>
                        </ul>
                    </div>
                    <div class="col-md-3">
                        <ul class="usermenu">
                            <li><a href="/user/login" class="log">Login</a></li>
                            <li><a href="/user/register" class="reg">Register</a></li>
                        </ul>
                    </div>
                    {% if 'user' in request.session %}
                    <div class="col-sm-5">
                        <div class="user-area dropdown float-right">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <img class="user-avatar rounded-circle" src="{% static 'admin/images/admin.jpg' %}" alt="" style="margin-top: 4px;width: 32px;border-radius: 50%!important;">{{request.session.user.name}}
                            </a>
                            <div class="user-menu dropdown-menu">
                                <a class="nav-link" href="#"><i class="fa fa- user"></i>My Profile</a>
    
                                <a class="nav-link" href="#"><i class="fa fa- user"></i>Notifications <span class="count">13</span></a>
    
                                <a class="nav-link" href="#"><i class="fa fa -cog"></i>Settings</a>
    
                                <a class="nav-link" href="/user/user_logout"><i class="fa fa-power -off"></i>Logout</a>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="header_bottom">
                    <ul class="option">
                    <li id="search" class="search">
                        <form><input class="search-submit" type="submit" value=""><input class="search-input" placeholder="Enter your search term..." type="text" value="" name="search"></form>
                    </li>
                    <li class="option-cart">
                        <a href="#" class="cart-icon">cart <span class="cart_no">02</span></a>
                        <ul class="option-cart-item">
                            <li>
                                <div class="cart-item">
                                <div class="image"><img src="{% static 'home/images/products/thum/products-01.png' %}" alt=""></div>
                                <div class="item-description">
                                    <p class="name">Lincoln chair</p>
                                    <p>Size: <span class="light-red">One size</span><br>Quantity: <span class="light-red">01</span></p>
                                </div>
                                <div class="right">
                                    <p class="price">$30.00</p>
                                    <a href="#" class="remove"><img src="{% static 'home/images/remove.png' %}" alt="remove"></a>
                                </div>
                                </div>
                            </li>
                            <li>
                                <div class="cart-item">
                                <div class="image"><img src="{% static 'home/images/products/thum/products-02.png' %}" alt=""></div>
                                <div class="item-description">
                                    <p class="name">Lincoln chair</p>
                                    <p>Size: <span class="light-red">One size</span><br>Quantity: <span class="light-red">01</span></p>
                                </div>
                                <div class="right">
                                    <p class="price">$30.00</p>
                                    <a href="#" class="remove"><img src="{% static 'home/images/remove.png' %}" alt="remove"></a>
                                </div>
                                </div>
                            </li>
                            <li><span class="total">Total <strong>$60.00</strong></span><button class="checkout" onClick="location.href='checkout.html'">CheckOut</button></li>
                        </ul>
                    </li>
                    </ul>
                    <div class="navbar-header"><button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button></div>
                    <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li class="active">
                            <a href="#">Home</a>
                        </li>
                        <li><a href="../men/productgrid">men</a></li>
                        <li><a href="../women/productgrid">women</a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Fashion</a>
                            <div class="dropdown-menu mega-menu">
                                <div class="row">
                                    <div class="col-md-6 col-sm-6">
                                        <ul class="mega-menu-links">
                                            {% for sub_menu in fashion %}
                                            <li><a href="/home/category/{{ sub_menu.cat_id }}">{{ sub_menu.cat_name }}</a></li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </li>               
                        <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Kids</a>
                                <div class="dropdown-menu mega-menu">
                                    <div class="row">
                                        <div class="col-md-6 col-sm-6">
                                            <ul class="mega-menu-links">
                                                {% for sub_menu in kids %}
                                                <li><a href="/home/category/{{ sub_menu.cat_id }}">{{ sub_menu.cat_name }}</a></li>
                                                {% endfor %}
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </li>       
                        <li><a href="/blog">blog</a></li>
                        <li><a href="/contact">contact us</a></li>
                    </ul>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>
    <div class="clearfix"></div>