{% extends "admin/layouts/main.html" %}    
{% load static %}
{% block content %}
<div class="breadcrumbs">
        <div class="col-sm-4">
            <div class="page-header float-left">
                <div class="page-title">
                    <h1>Dashboard</h1>
                </div>
            </div>
        </div>
        <div class="col-sm-8">
            <div class="page-header float-right">
                <div class="page-title">
                    <ol class="breadcrumb text-right">
                        <li><a href="/admin/">Dashboard</a></li>
                        <li><a href="/admin/add_product">Product</a></li>
                        <li class="active">Add Product</a></li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
<div class="col-lg-12">
    <div class="card">
        <div class="card-header">
            <strong>Basic Form</strong> Elements
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-10">
                <div class="card-body card-block">
                    <form action="/admin/add_product" method="POST" enctype="multipart/form-data" class="form-horizontal">
                        <div class="row form-group">
                            <div class="col col-md-2">
                                <label for="text-input" class=" form-control-label">Name Product<span style="color: red">*</span></label>
                            </div>
                            <div class="col-12 col-md-10">
                                <input type="text" name="name" placeholder="Name Product" class="form-control">
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col col-md-2">
                                <label for="text-input" class=" form-control-label">Category<span style="color: red">*</span></label>
                            </div>
                            <div class="col-12 col-md-10">
                                <select name="cat_id" data-placeholder="Choose a category..." class="form-control" onchange="cat_pro(this.value)">
                                    {% for val in cat %}
                                    <option value="{{ val.cat_id }}">{{ val.cat_name }}</option>
                                    {% endfor %}
                                </select>                         
                            </div>
                        </div> 
                        <div class="row form-group" id="cat_con">
                            <div class="col col-md-2">
                                <label for="text-input" class=" form-control-label">Category CON<span style="color: red">*</span></label>
                            </div>
                            <div class="col-12 col-md-10">
                                <select name="parentID_ID" data-placeholder="Choose a category..." class="form-control" id="cat_ol_con">      
                                </select>                         
                            </div>
                        </div>
     
                        <div class="row form-group">
                            <div class="col col-md-2">
                                <label for="text-input" class=" form-control-label">Price<span style="color: red">*</span></label>
                            </div>
                            <div class="col-12 col-md-10">
                                <input type="text" name="price" placeholder="Price" class="form-control">
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col col-md-2">
                                <label for="text-input" class=" form-control-label">Sale</label>
                            </div>
                            <div class="col-12 col-md-10">
                                <input type="text" name="sale_price" placeholder="Sale" class="form-control">
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col col-md-2">
                                <label for="file-input" class=" form-control-label">Picture</label>
                            </div>
                            <div class="col-12 col-md-10">
                                <input type="file" id="image" name="image" class="form-control-file">
                            </div>
                        </div>
                        <div class="row form-group">
                                <div class="col col-md-2">
                                    <label for="text-input" class=" form-control-label">Description<span style="color: red">*</span></label>
                                </div>
                                <div class="col-12 col-md-10">
                                    <input type="text" name="content" placeholder="content" class="form-control">
                                </div>
                            </div>
                        
                        {% csrf_token %}
                        <div style="text-align: center">
                            <button type="submit" class="btn btn-primary btn-sm">
                                <i class="fa fa-dot-circle-o"></i> Submit
                            </button>
                            <button type="reset" class="btn btn-danger btn-sm">
                                <i class="fa fa-ban"></i> Reset
                            </button>
                        </div>
                    </form>
                    
                    
                           
                    
                </div>
            </div>
        </div>      
    </div>
</div>

{% endblock %}