{% load static %}
<!-- Left Panel -->

<aside id="left-panel" class="left-panel">
        <nav class="navbar navbar-expand-sm navbar-default">

            <div class="navbar-header">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-menu" aria-controls="main-menu" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand" href="/admin/"><h5>FASHION FLATSHOP</h5></a>
               
            </div>
 
            <div id="main-menu" class="main-menu collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li class="active">
                        <a href="index.html"> <i class="menu-icon fa fa-dashboard"></i>Dashboard </a>
                    </li>
                    <h3 class="menu-title">Manager</h3><!-- /.menu-title -->
                    <li class="menu-item-has-children dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-laptop"></i>Category</a>
                        <ul class="sub-menu children dropdown-menu">
                            <li><i class="fa fa-puzzle-piece"></i><a href="/admin/list_category">List Category</a></li>
                        </ul>
                    </li>
                    <li class="menu-item-has-children dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-table"></i>Product</a>
                        <ul class="sub-menu children dropdown-menu"> 
                            <li><i class="fa fa-table"></i><a href="/admin/add_product">Add Product</a></li>
                            <li><i class="fa fa-table"></i><a href="/admin/list_product">List Product</a></li>
                        </ul>
                    </li>
                    <li class="menu-item-has-children dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-table"></i>User</a>
                        <ul class="sub-menu children dropdown-menu"> 
                            <li><i class="fa fa-table"></i><a href="/admin/list_user">List User</a></li>
                            <li><i class="fa fa-table"></i><a href="/admin/contact">Contact</a></li>
                        </ul>
                    </li>
                    <li class="menu-item-has-children dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-table"></i>Order</a>
                            <ul class="sub-menu children dropdown-menu"> 
                                <li><i class="fa fa-table"></i><a href="/admin/order">Order</a></li>
                                <li><i class="fa fa-table"></i><a href="/admin/list_order">List Order</a></li>
                            </ul>
                        </li>
                    <li class="menu-item-has-children dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-table"></i>Inventory</a>
                        <ul class="sub-menu children dropdown-menu"> 
                            <li><i class="fa fa-table"></i><a href="/admin/listuser">Goods receipt</a></li>
                            <li><i class="fa fa-table"></i><a href="/admin/listuser">Goods Issue</a></li>
                            <li><i class="fa fa-table"></i><a href="/admin/listuser">List Inventory</a></li>
                        </ul>
                    </li>
                    <h3 class="menu-title">Monitor</h3><!-- /.menu-title -->
                    <li class="menu-item-has-children dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-bar-chart"></i>Charts</a>
                        <ul class="sub-menu children dropdown-menu">
                            <li><i class="menu-icon fa fa-line-chart"></i><a href="charts-chartjs.html">Chart JS</a></li>
                            <li><i class="menu-icon fa fa-area-chart"></i><a href="charts-flot.html">Flot Chart</a></li>
                            <li><i class="menu-icon fa fa-pie-chart"></i><a href="charts-peity.html">Peity Chart</a></li>
                        </ul>
                    </li>
                    <h3 class="menu-title">Extras</h3><!-- /.menu-title -->
                    <li class="menu-item-has-children dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-glass"></i>Pages</a>
                        <ul class="sub-menu children dropdown-menu">
                            <li><i class="menu-icon fa fa-sign-in"></i><a href="/admin/login">Login</a></li>
                            <li><i class="menu-icon fa fa-sign-in"></i><a href="/admin/register">Register</a></li>
                            <li><i class="menu-icon fa fa-sign-in"></i><a href="/admin/change_password">Change Password</a></li>
                            <li><i class="menu-icon fa fa-paper-plane"></i><a href="/admin/forget_password">Forget Password</a></li>
                            
                        </ul>
                    </li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </nav>
    </aside><!-- /#left-panel -->

    <!-- Left Panel -->